<!-- <ng-container *ngIf="!isLoadingResults"> -->
<div class="full-width-content mat-elevation-z8">    
    <mat-form-field class="search-filter">
        <input matInput #searchFilter placeholder="Search Filter">
    </mat-form-field>

    <div class="search-component-container">
        <div class="loading-indicator" *ngIf="isLoadingResults">                
                <mat-spinner></mat-spinner>                
        </div>

        <div class="search-results-table">    
            <table mat-table [dataSource]="artworkCollection" matSort matSortActive="title" matSortDirection="asc">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
                    <td mat-cell *matCellDef="let row">{{ row.title }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                    <td mat-cell *matCellDef="let row">{{ row.description }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row" class="action-buttons">
                        <button mat-raised-button color="primary" (click)="edit(row)" aria-label="Edit Record"><mat-icon>edit</mat-icon></button>
                        <button mat-raised-button color="warn" (click)="delete(row)" aria-label="Delete Record"><mat-icon>delete</mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [length]="totalResultsCount" [pageSize]="itemsPerPage"></mat-paginator>
    </div> <!-- search-component-container -->
</div>
<!-- </ng-container> -->