.full-width-content {
    width: 80%;
    margin: 0 auto;
    // border: 1px solid pink;
}

.search-filter {
    width: 100%;
}

.search-component-container {
    position: relative;
    min-height: 200px;
}

table {
    width: 100%;
  }

.search-results-table {
    position: relative;
    max-height: 400px;
    overflow: auto;
}

.search-results-container {
    width: 100%;
}

.action-buttons {
    text-align: right;
}

.action-buttons button {
    margin-right: 10px;
}

.loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.art-card {
    margin-bottom: 15px;
    max-width: 500px;
    border: 1px solid gray;
}

// .art-card-header {
//     // background-color: pink;
// }
