// .mat-form-field {
//     display: block;
// }

.checkbox-row {
    display: flex;
    align-content: center;
    align-items: center;
    // height: 60px;
 }

.checkbox-row label, 
.checkbox-row mat-checkbox {
    margin: 0 10px;
}

.radioButton-row label,
.radioButton-row mat-radio-button {
    margin: 0 10px;
}
// .accountStatusRadioButton {
//     display: flex;
//     align-content: center;
//     align-items: center;
//     // height: 60px;
//  }