
    <button mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="Add New Item">add_circle</mat-icon>
        Add New Item
    </button>


    <button mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="View Collection">dynamic_feed</mat-icon>
        View Collection
    </button>

    <button mat-raised-button color="primary">
        <mat-icon aria-hidden="false" aria-label="View Contacts">contacts</mat-icon>
        View Contacts
    </button>

