/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-content {
    margin: 15px 25px;
    width: auto;
}

// General Purpose Containers
.generic-container-400 {
    width: 400px;
    margin: 0 auto;
}

.mat-ff-full-width {
    width: 100%;
}

.button-row button,
.button-row a {
    margin-right: 8px;
}
